body {
    color: white;
    background: rgb(29, 121, 149)
}

header {

    border: solid 2px black;
    margin: 20px;
    padding-top: 20px;
    display: flex;
    padding: 20px;
    font-size: 40px;
    font-style: oblique;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chamada de texto {

    margin-right: 5%
}

h1 {
    font-size: 40px



}



p {
    font-size: 20px
}

p {
    20px;

}

h2 {
    font-size: 25px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    border: solid 2px black;
    margin: 20px;
    padding-top: 20px ;
    font-size: 40px;
    font-style: oblique;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}